<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>recipe-detail</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onDeleteRecipe()"><ion-icon name="trash" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
          <ion-img [src]="recipe.imageUrl"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <h1>{{recipe.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-list>
            <ion-item *ngFor="let ingredient of recipe.ingredients">
              {{ingredient}}
            </ion-item>
          </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
